* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
    min-width: 480px;
    font-family: Roboto, sans-serif;
    min-width: 480px;
}

.header {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 200px;
    background-color: rgb(255,255,255);

    -webkit-mask:
        radial-gradient(ellipse 180px 45px at 30% 100%,
            transparent 98%,
            black 100%);
}

.header button {
    background-color: rgb(246, 246, 246);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(41, 41, 41);
    padding: 6px 10px;
}

.header button:hover {
    background-color: rgb(89, 89, 89);
    color: rgb(255,255,255);
}

.wrapper {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgb(97, 96, 96);
    border-radius: 4px;
    overflow: hidden;
}

.menu button {
    flex: 1;
    margin: 0;
    border: none;
    background-color: rgb(97, 96, 96);
    color: rgb(255,255,255);
    cursor: pointer;
    padding: 15px 0;
    border-bottom: 4px solid rgb(255,255,255);
    border-right: 1px solid rgb(255,255,255);
    border-left: 1px solid rgb(255,255,255);
}

.menu button:last-child {
    border-right: none;
}

.menu button:hover {
    background-color: rgb(200, 199, 199);
    color: black;
}

.menu-mobile,
.menu-toggle,
.menu-mobile-button {
    display: none;
}

.logo {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 20px 0;
}

.logo-picture {
    min-width: 320px;
    height: 90px;
    background-color: rgb(162, 162, 162);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255,255,255);
    font-size: 34px;
    font-weight: bold;
    transform: translateY(-50px);
}

.logo-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
}

.logo-content a {
    font-size: 14px;
    color: rgb(41, 41, 41);
    text-decoration: none;
    cursor: pointer;
}

.logo-content a:hover {
    color: rgb(59, 59, 255);
}

.form-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgb(200, 199, 199);
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
}

.form-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form-left label {
    display: block;
    margin: 10px 0 5px;
}

.form-left input {
    width: 100%;
    padding: 8px;
    border: 2px solid rgb(97, 96, 96);
    border-radius: 3px;
    margin-bottom: 10px;
}

.form-left h2 {
    font-weight: 400;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 25px;
    margin-top: 15px;
}

.form-left button {
    align-self: flex-start;
    padding: 6px 30px;
}


.form-left button,
.more button {
    margin-top: 20px;
    padding: 5px 45px;
    background-color: rgb(56, 130, 161);
    color: rgb(255,255,255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.more {
    margin-top: 70px;
    padding: 20px;
    background-color: rgb(246, 246, 246);
    border-radius: 4px;
    width: 30%;
    height: 200px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more p:nth-child(2) {
    font-weight: bold;
}

.content-pictures {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.picture {
    flex: 1;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(255,255,255);
    padding-bottom: 15px;
}

.picture .image {
    height: 220px;
    background-color: rgb(162, 162, 162);
}

.picture .text {
    padding: 10px;
}

.picture h2 {
    margin: 0 0 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.picture p {
    margin: 0;
    font-size: 0.9rem;
}

.small-pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.small-pictures div {
    background-color: rgb(89, 89, 89);
    height: 100px;
}

.small-pictures .hidden {
    display: none;
}

.toggle-more,
.more-link {
    display: none;
}


.fields {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 40px;
    background-color: rgb(162, 162, 162);
    padding: 25px 15px 15px 15px;
}

.fields input:nth-child(-n+3) {
    background-color: rgb(255,255,255);
}

.fields input:nth-child(n+4) {
    background-color: rgb(180, 180, 180);
}

.fields input {
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1rem;
}

.more-link {
    display: none;
    text-align: center;
    margin: 10px 0;
}

.more-link a {
    text-decoration: none;
    color: rgb(56, 130, 161);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.more-link a:hover {
    color: rgb(41, 41, 41);
}

@media (max-width: 768px) {
    .header {
        -webkit-mask: none;
        mask: none;
        padding: 10px 20px;
    }

    .logo-picture {
        border-radius: 0;
        transform: translateY(0);
        width: 100%;
        min-width: auto;
    }

    .logo-content {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        display: none;
    }

    .menu-mobile-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(97, 96, 96);
        color: rgb(255,255,255);
        padding: 15px;
        cursor: pointer;
        font-weight: bold;
        gap: 10px;
        text-transform: uppercase;
        border-radius: 4px;
    }

    .hamburger {
        width: 25px;
        height: 3px;
        background-color: rgb(255,255,255);
        position: relative;
        display: inline-block;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        width: 25px;
        height: 3px;
        background-color: rgb(255,255,255);
        position: absolute;
        left: 0;
    }

    .hamburger::before {
        top: -8px;
    }

    .hamburger::after {
        bottom: -8px;
    }

    .menu-mobile {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    .menu-mobile button {
        padding: 15px;
        background-color: rgb(97, 96, 96);
        color: rgb(255,255,255);
        border: none;
        border-bottom: 1px solid rgb(255,255,255);
        cursor: pointer;
    }

    .menu-toggle:checked + .menu-mobile-button + .menu-mobile {
        display: flex;
    }

    .form-block {
        background-color: transparent;
        padding: 0;
        margin-bottom: 20px;
    }

    .form-content {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    .form-left {
        width: 100%;
    }

    .form-left button {
        width: 100%;
        padding: 10px;
    }

    .content-pictures {
        flex-direction: column;
    }

    .small-pictures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .small-pictures div {
        display: none;
    }

    .small-pictures div:nth-child(-n+4) {
        display: block;
    }

    .toggle-more:checked+.small-pictures .hidden {
        display: block;
    }

    .more-link {
        text-align: center;
        margin: 10px 0;
        color: rgb(41, 100, 120);
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: underline;
        display: inline-block;
    }

    .more-link:hover {
        color: rgb(246, 246, 246);
    }


    .fields {
        grid-template-columns: 1fr;
    }

    .more {
        width: 100%;
        margin-top: 0;
        justify-content: center;
    }

    .more-link {
        display: block;
    }
}

@media (min-width: 769px) {
    .small-pictures div {
        display: block;
    }

    .small-pictures .hidden {
        display: block; 
    }

    .more-link,
    .toggle-more {
        display: none;
    }
}